<div class='col-12'>
  <%= simple_form_for :search, method: :get, html: { class: 'search-form' } do |f| %>
    <%= f.input :job, as: :search, input_html: { class: 'search-field', value: params.dig(:search, :job) } %>
    <%= f.button :submit, class: "btn btn btn-primary" %>
  <% end %>
</div>

