<div class='col-8' style='margin-top:20px'>
  <%= simple_form_for @language do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, required: true %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>